:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 250%;
  color: var(--accent);
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 200%;
  color: var(--main);
}

h1, p {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-size: 150%;
    margin-left: 5rem;
}

a:hover {
  animation: glow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes glow {
  from {}
  to {filter: brightness(150%) drop-shadow(0 0 3px);}
}

@media only screen and (max-width: 800px) {
  h1, p, a, .wrapper {
    margin-left: 0;
    text-align: center;
  }
}
