:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

#content p {
  font-family: 'Crimson Text', serif;
  text-align: left;
  margin: 2rem 1rem;
  color: var(--main);
}

#content p:not(#hint) {
  font-size: 150%;
}

#main-text {
  padding-bottom: 1rem;
  border-bottom: solid var(--accent) 0.1rem;
}

#julianote {
  background-color: inherit;
  color: var(--accent);
  filter:grayscale(60%) brightness(70%);
  padding-left: 1rem;
}

.text-icon {
  padding: 2rem 1rem 1rem 1rem;
}

/* desktop stuff */
@media only screen and (min-width: 1000px) {
  #content p {
    margin: 2rem 35rem;
  }
  #content p:not(#hint) {
    font-size: 160%;
  }
}

.header {
  margin-top: 2rem;
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 8rem;
  height: 8rem;
  border: solid var(--accent) 0.3rem;
  border-radius: 50%;
}

.header div {
  margin-left: 3rem;
}

.header-text h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 250%;
}

.header-text h3 {
  text-align: left;
  margin-top: -1rem;
  font-family: 'Crimson Text', serif;
  color: var(--accent);
  filter: brightness(70%);
}

p > a {
  color: var(--accent);
  filter: brightness(70%);
  text-decoration: none;
}

#hint {
  background-color: inherit;
  color: var(--accent);
  filter: brightness(70%);
  padding-left: 1rem;
  font-size: 120%;
}

#keystroke {
  background-color: var(--bg-but-darker);
  color: var(--accent);
  margin: 0 0.1rem;
  padding: 0 0.1rem;
  border: solid var(--accent) 1.5px;
  border-radius: 6px;
}

#keystroke:hover, p > a:hover {
  animation: glow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes glow {
  from {}
  to {filter: brightness(150%) drop-shadow(0 0 3px);}
}
