:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --accent-but-darker: #8971F4;
  --purple: #100e1b;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

.links {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
}

@media (min-width: 600px) {
  .links { grid-template-columns: repeat(2, 1fr); }
}

/* forgive me for I have sinned */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  nav {
    height: 2.375rem;
  }
  nav img {
    margin-top: -0.53rem;
  }
}

h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 240%;
  color: var(--main);
  animation: unblur 0.5s;
  animation-fill-mode: forwards;
}

#main-header {
  text-align: center;
}

.link a {
  color: var(--main);
  text-decoration: none;
}

.link {
  font-family: 'Crimson Text', serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0.5rem;
  border-radius: 20px;
  width: 80%;
  color: var(--main);
  animation: unblur 1s;
  animation-fill-mode: forwards;
}

.link p {
  font-size: 150%;
  text-align: center;
}

/* desktop stuff */
@media only screen and (min-width: 1000px) {
  .link {
    width: 40%;
  }
  .link p {
    font-size: 160%;
  }
}

.fa-discord, .text-icon {
  color: var(--accent);
}

.link .text-icon:hover {
  animation: glow 0.3s;
  animation-fill-mode: forwards;
}

#link-header:hover {
  filter: brightness(60%);
}

@keyframes glow {
  from {}
  to {filter: brightness(150%) drop-shadow(0 0 3px);}
}

@keyframes unblur {
  from {filter: drop-shadow(5px 5px 100px var(--accent-but-darker)) blur(5px);}
  to {filter: drop-shadow(5px 5px 15px var(--accent-but-darker)) blur(0);}
}